color-primary-0 = #FF0000
color-primary-1 = #FF6363
color-primary-2 = #FF3939
color-primary-3 = #C50000
color-primary-4 = #9B0000

color-secondary-1-0 = #FF7C00
color-secondary-1-1 = #FFAF63
color-secondary-1-2 = #FF9A39
color-secondary-1-3 = #C56000
color-secondary-1-4 = #9B4C00

color-secondary-2-0 = #C7007D
color-secondary-2-1 = #D553A5
color-secondary-2-2 = #CA2D90
color-secondary-2-3 = #9A0061
color-secondary-2-4 = #79004C
color-dark = #000
color-light = #fff
primary-text-shadow()
  text-shadow 1px 1px 2px color-dark

body
  background color-primary-1

.application
  height 100vh
  display flex
  flex-direction column

  *
    color color-light

  .actions
    height 100%
    display flex
    flex-direction column

    .actions-panel
      height 50%

    .monty-hall
      .game-field
        height 100%
        display flex
        flex-direction column
        justify-content center

        .options
          .door
            size = 100px
            width size
            height size
            background color-secondary-1-4
            display inline-block
            border 6px solid color-secondary-1-1
            margin 6px

            &.selected, &.opened
              border-color: color-light

            &.opened
              background color-primary-0

        .move-result-message
          color color-secondary-1-0
          font-size 46px
          primary-text-shadow()



    .bank
      display flex
      flex-direction column
      justify-content center
      align-items center

      & > *
        width 100%
