.application
  height 100vh
  display flex
  flex-direction column
  align-items center
  justify-content center

  .bank-size
    min-size = 32px
    min-width min-size
    min-height min-size
    display flex
    align-items center
    justify-content center
    background tomato
    border-radius 50%
    color white
    font-weight bold
